<div class="text-sm text-grey mb-sm">
  <span>
    Вопрос <%= link_to "##{question.id}", question_path(question) %>
  </span>

  <span>
    для
    <%= link_to display_nickname(question.user), user_path(question.user), method: :get %>
  </span>

  <% author = question.author %>
  <% if author.present? %>
    <span>
      от
      <%= link_to display_nickname(author), user_path(author), method: :get %>
    </span>
  <% end %>
</div>

<div class="mb-sm <%= "text-hidden" if question.hidden? %>">
  <%= sanitize text_with_hashtag_link(question.body) %>
</div>

<% if question.answer.present? %>
  <div class="mb-sm text-dark-red">
    <%= sanitize text_with_hashtag_link(question.answer) %>
  </div>
<% end %>

<div class="text-sm question-footer">
  <div class="text-grey">
    <%= l(question.created_at, format: :short) %>
  </div>

  <% if current_user == question.user && current_user.present? %>
    <div>
      <% edit_icon = question.answer.present? ? "pencil" : "reply" %>
      <%= link_to fa_icon(edit_icon), edit_question_path(question), title: "Редактировать", class: "mr-sm" %>

      <%= button_to fa_icon("trash-o"), question_path(question), method: :delete, title: "Удалить",
        form: { data: { turbo_confirm: "Вы уверены, что хотите удалить вопрос?" } } %>

      <% unless question.hidden? %>
        <%= button_to fa_icon("eye-slash"), hide_question_path(question), method: :put, title: "Скрыть",
          class: "ml-sm" %>
      <% end %>
    </div>
  <% end %>
</div>

<% if question.hashtags.present? %>
<div class="mt-sm">
  Хэштеги:
  <% question.hashtags.each do |tag| %>
  <%= link_to display_hashtag(tag), hashtag_path(tag) %>
  <% end %>
</div>
<% end %>
