<div class="mb-sm <%= "text-hidden" if question.hidden? %>">
  <%= simple_format h(question.body) %>
</div>

<% if question.answer.present? %>
  <div class="mb-sm text-dark-red">
    <%= question.answer %>
  </div>
<% end %>

<div class="text-sm question-footer">
  <div class="text-grey">
    <%= l(question.created_at, format: :short) %>
  </div>

  <% if current_user == question.user && current_user.present? %>
    <div>
      <% edit_icon = question.answer.present? ? "pencil" : "reply" %>
      <%= link_to fa_icon(edit_icon), edit_question_path(question), title: "Редактировать", class: "mr-sm" %>

      <%= button_to fa_icon("trash-o"), question_path(question), method: :delete, title: "Удалить",
        form: { data: { turbo_confirm: "Вы уверены, что хотите удалить вопрос?" } } %>

      <% unless question.hidden? %>
        <%= button_to fa_icon("eye-slash"), hide_question_path(question), method: :put, title: "Скрыть",
          class: "ml-sm" %>
      <% end %>
    </div>
  <% end %>
</div>
