<div class="container">
  <h2 class="title-lg mb">Вопрос <%= @question.id %></h2>

  <p class="mb-sm"><%= @question.body %></p>
  <p>user_id: <b><%= @question.user_id %></b></p>

  <div class="mt">
    <%= link_to fa_icon("pencil"), edit_question_path, title: "Редактировать" %>

    <%= button_to fa_icon("trash-o"), question_path, method: :delete, title: "Удалить",
                  form: { data: { turbo_confirm: "Вы уверены, что хотите удалить вопрос?" } } %>

    <% unless @question.hidden? %>
      <%= button_to fa_icon("eye-slash"), hide_question_path, method: :put, title: "Скрыть" %>
    <% end %>
  </div>

  <p class="mt"><%= link_to "Все вопросы", questions_path %></p>
</div>
